@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
    --color-primary: #5ece7b;
    --color-dark-gray: #1d1f22;
    --font-raleway: "Raleway", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

.container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
